/* ------------------------------------- */
/*	3. Breakpoints/Media Queries
/* ------------------------------------- */


// Breakpoints
$bp-largest: 100em; // 1600px
$bp-large: 81.25em; // 1300px -
$bp-med: 68.75em; // 1100px 
$bp-med-sm: 56.25em; // 900px
$bp-sm-med: 50em; // 800px 
$bp-sm: 43.75em; // 700px 
$bp-smaller: 37.5em; // 600px 
$bp-smallest: 35em; // 560px 

/* 

    @media only screen and (max-width: $bp-large) {
        height: 80vh;
    }

    @media only screen and (max-width: $bp-med-sm) {
        height: 80vh;
    }

    @media only screen and (max-width: $bp-sm) {
        height: 80vh;
    }


*/