/* ------------------------------------- */
/*	3. Colors/Textures
/* ------------------------------------- */

:root {
    --test: rgb(111, 255, 86);
    --test-border: rgb(200, 47, 167);
    --test-2: rgb(216, 57, 28);
    --test-border-2: rgb(18, 0, 182);


    --color-primary: rgb(255, 152, 177);
    --color-primary-tr: rgba(73, 219, 192, .85);
    --color-primary-light: rgb(92, 251, 222);
    --color-primary-lighter: rgb(0, 255, 208);
    --color-primary-dark: #005470;

    // Primary Transparent

    --color-primary-transparent: rgb(0, 126, 167, .4);
    --color-primary-light-transparent: rgb(0, 168, 224, .4);
    --color-primary-dark-transparent: rgb(0, 84, 112, .4);

    --color-white: rgb(250, 250, 250);
    --color-white-tr: rgba(250, 250, 250, .8);
    --color-white-tr-2: rgba(250, 250, 250, .6);

    --color-black: rgb(0,0,0);
    --color-black-tr-1: rgba(0,0,0,.3);
    --color-black-tr-2: rgba(0,0,0,.8);
    
    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;
    
    --color-grey-dark-1: #333;
    --color-grey-dark-2: rgb(58, 58, 58);
    --color-grey-dark-2-tr: rgba(58, 58, 58, .6);
    
    --color-grey-dark-3: rgb(149, 149, 149);
    --color-grey-dark-4: rgb(215, 215, 215);

    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
    --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
    --text-shadow: 1px 5px 5px rgba(0,0,0, .5);

    --line: 1px solid var(--color-grey-light-3);
}

$font-title: 'Dawning of a New Day', cursive;
$font-primary: 'Nunito', sans-serif;