/* ------------------------------------- */
/*	2. About Page
/* ------------------------------------- */

.section-about {
    @include flexCenter;
    height: 100vh;
    width: 100vw;
    background-color: var(--color-white);

     @media only screen and (max-width: $bp-sm) {
        height: 180vh;
    }
}

.about-frame {
    @include flexFramer;
    position: relative;
    border: 1px solid var(--color-grey-dark-4);
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .15fr 1fr;
    height: 100%;
    width: 90%;

    @media only screen and (max-width: $bp-med-sm) {
        grid-template-columns: 100%;
        grid-template-rows: 100vh 80vh;
    }

    
    &__content {
        @include flexCenterCol;
        position: relative;
        justify-content: flex-start;
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        width: 70%;
        height: 90%;
        justify-self: center;
        align-self: center;

        &::-webkit-scrollbar-thumb {
            background-color: transparent;
        }

        @media only screen and (max-width: $bp-med-sm) {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
        }

        &::after {
            content: url('assets/images/f-hole-tr.svg');
            height: 100%;
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -40%) scale(1.12);
            z-index: 1;
            background-color: var(--color-primarty-tr);

            @media only screen and (max-width: $bp-sm) {
                left: 35%;
            }
        }
    }
    
    &__title {
        @include flexCenterCol;
    }

    &__content {
        text-align: center;
        overflow:scroll;
    }

    &__photo {
        @include flexCenter;
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        height: 90%;
        @include bgimgicon('assets/images/about-photo-border.png');

         @media only screen and (max-width: $bp-med-sm) {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
            align-self: flex-end;
        }
    }
}
