/* ------------------------------------- */
/*	2. Hero Section
/* ------------------------------------- */

.section-hero {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
}

.hero {
    width: 97%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-image: url('assets/images/landing-photo.png');
    @include bgimggrad(
        var(--color-black-tr-1),
        var(--color-black-tr-1),
       'assets/images/landing-photo.png',
    );

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transform: translateY(12rem);
        height: 50vh;
    }

    &__subtitle {
        letter-spacing: 1rem !important;
        margin-top: 3rem;
    }
}