/* ------------------------------------- */
/*	2. Listen Section 
/* ------------------------------------- */

.section-listen {
    @include flexCenter;
    height: 100vh;
    width: 100vw;
    background-color: var(--color-white);

    @media only screen and (max-width: $bp-sm) {
        height: 400vh;
    }
}

.listen-container {
    @include flexFramer;
    position: relative;
    border: 1px solid var(--color-grey-dark-4);

    @media only screen and (max-width: $bp-sm) {
        height: 100%;
    }
}

.listen {
    height: 75%;
    width: 80%;
    display: grid;
    grid-template-columns: 40% 50%;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 5%;
    column-gap: 10%;
    font-size: 1vh;
    word-wrap: break-word;

    @media only screen and (max-width: $bp-sm) {
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, 1fr);
        height: 100%;
        width: 100%;
        row-gap: 2rem;
    }

    &__title {
        position: absolute;
        bottom: 30%;
        right: -1%;
        transform: rotate(90deg);

        @media only screen and (max-width: $bp-med) {
            right: -3%;
        }

        @media only screen and (max-width: $bp-sm) {
            display: none;
        }
    }

    &__button {
        visibility: hidden;

        &:checked + .listen__item {
            position: relative;
            border: 1px solid var(--color-primary);
            box-shadow: var(--shadow-def-primary-col);
            transform: scale(1.015);
            border-right: 3px solid var(--color-primary);
            border-left: 3px solid var(--color-primary);

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                right: 0;
                height: 2px;
                width: 30rem;
                transform: translateX(100%);
                background-color: var(--color-primary);
            }
        }

        &:checked + .listen__item + .listen__exp {
            @include flexCenterCol;
            align-items: left;
        }

        &:checked + .listen__item .play-button--active {
            display: flex;
        }

        &:checked + .listen__item .play-button {
            display: none;
        }

        &-1 {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
        }
        
        &-2 {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
        }

        &-3 {
            grid-row: 3 / 4;
            grid-column: 1 / 2;
        }

        &-4 {
            grid-row: 4 / 5;
            grid-column: 1 / 2;
        }
    }

    &__item {
        @include flexCenter;
        align-self: center;
        position: relative;
        z-index: 99;
        height: 90%;
        width: 90%;
        justify-content: flex-start;
        align-items: center;
        padding-left: 5%;
        border-radius: 10px;
        border: none;
        background-color: var(--color-white);
        color: var(--color-grey-dark-3);
        box-shadow: var(--shadow-def);
        transition: all .2s;

        &-wrapper {
            width: 75%;
            @include flexCenterCol;
            align-items: flex-start;
            padding: 2%;

            & h4 {
                font-size: 1vw;
            }

            & * {
                font-size: .75vw;
            }
        }

        &-1 {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
        }
        
        &-2 {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
        }

        &-3 {
            grid-row: 3 / 4;
            grid-column: 1 / 2;
        }

        &-4 {
            grid-row: 4 / 5;
            grid-column: 1 / 2;
        }

        @media only screen and (max-width: $bp-sm) {
            display: none;
        }
    }

    &__exp {
        grid-row: 1 / span all;
        grid-column: 2 / 3;
        height: 100%;
        width: 100%;
        align-self: center;
        position: relative;
        z-index: 99;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--color-white);
        border: 1px solid var(--color-primary);
        border-radius: 4px;
        overflow-y: scroll;

        &-1,
        &-2,
        &-3,
        &-4 {
            @media only screen and (max-width: $bp-sm) {
                grid-row: 1 / 2;
                grid-column: 1 / 2;
                display: flex !important;
                justify-content: center;
                align-items: center;
            }
        }

        &-1 {
            @media only screen and (max-width: $bp-sm) {
                grid-row: 1 / 2;
                grid-column: 1 / 2;
                display: flex;
            }
        }

        &-2 {
            @media only screen and (max-width: $bp-sm) {
                grid-row: 2 / 3;
                grid-column: 1 / 2;
                display: flex !important;
            }
        }

        &-3 {
            @media only screen and (max-width: $bp-sm) {
                grid-row: 3 / 4;
                grid-column: 1 / 2;
                display: flex;
            }
        }

        &-4 {
            @media only screen and (max-width: $bp-sm) {
                grid-row: 4 / 5;
                grid-column: 1 / 2;
                display: flex;
            }
        }


        &-video-wrap {
            position: relative;
            height: 50%;
            width: 70%;
            border-radius: 4px;

            @media only screen and (max-width: $bp-sm) {
                width: 80%;
            }
        }

        &-video {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
            border-style: none;
            border-radius: 4px;
            border: 1px solid var(--color-primary);
            position: relative;
            z-index: 111;
        }

        &-photo {
            height: 45%;
            width: 70%;
            object-fit: cover;
            object-position: center;
            margin-top: 3rem;
            // padding: 1vw;
            border-radius: 4px;

            @media only screen and (max-width: $bp-sm) {
                width: 80%;
            }
        }

        &-controls {
            @include flexCenter;
            margin-top: 2%;
            height: 10%;
            width: 50%;
            border-radius: 100px;
            background-color: transparent;

            @media only screen and (max-width: $bp-sm) {
                width: 40%;
                height: 7%;
            }
        }

        &-details {
            @include flexCenterCol;
            justify-content: space-evenly;
            align-items: start;
            width: 85%;
            height: 30%;
            margin: 5%;
            border-radius: 10px;

            & h4 {
                @media only screen and (max-width: $bp-sm) {
                    font-size: 2.5rem !important;
                }
            }

            & p {
                @media only screen and (max-width: $bp-sm) {
                    font-size: 1.75rem !important;
                }
            }

            @media only screen and (max-width: $bp-sm) {
                
            }
        }

        &-1 {
           display: none;
        }

        &-2 {
            display: none;
        }

        &-3 {
            display: none;
        }

        &-4 {
            display: none;
        }
        
    }
}
