/* ------------------------------------- */
/*	3. Buttons
/* ------------------------------------- */

.btn__submit {
    padding: 1rem 2.5rem;
    background-color: var(--color-primary);
    border-radius: 4px;
    outline: none;
    opacity: .9;

    &:hover {
        transform: translateY(-1px);
        opacity: 1;
    }
}